<h1>Setting up your LIFX lamp</h1>
<p>You can find your access token in lifx cloud</p>

<h3>@ViewBag.ErrorMessage</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            Your access token:
            <div class="col-md-10">
                @Html.TextBox("Key")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add token" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<a href="/livelight-setup/@ViewBag.LightUuid/LIFX/add-account">Back</a>
