<h1>Setting up your WiZ account</h1>
<p>Your live light uses a light bulb from <span>LIFX</span>, which means you must set up the lamp first.</p>
<p>Once the lamp is set up, you can control the lamp as you wish!</p>

<p>Is this your first lamp?</p>

<a href="/projects/@ViewBag.ProjectId/add-lamp/authorize-lamp">No</a>
<a href="/projects/@ViewBag.ProjectId/add-lamp/authorize-account">Yes</a>
