<h1>Let's set up your LIFX account!</h1>
<p>Is it already set up? <a href="/livelight-setup/@ViewBag.ProjectUuid/LIFX/add-lamp">Click here</a></p>

<p>Explanation...</p>

<a href="/livelight-setup/@ViewBag.LightUuid">Back</a> | 
<a href="/livelight-setup/@ViewBag.LightUuid/LIFX/add-lamp">Next</a>

