<h1>Setting up your WiZ account</h1>
<p>Your live light uses a light bulb from <span>wiz</span>, which means you must set up the lamp first.</p>
<p>Once the lamp is set up, you can control the lamp as you wish!</p>

<a href="https://www.techsolutions.support.com/how-to/how-to-set-up-wiz-smart-lights-12321" target="_blank">WiZ set up page</a>

<a href="/projects/@ViewBag.ProjectId/add-lamp/authorize-wiz">Next --></a>
