@using DTNL.LL.Logic
@inject AuthService authService

@{
    ViewData["Title"] = "Live Light";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Live Light Projects</p>
    @if (!authService.IsLoggedIn())
    {
        <p>To view and edit projects, please log in!</p>
    }
</div>
