@using DTNL.LL.Models
@model DTNL.LL.Website.Models.ProjectDTO

@{
    ViewData["Title"] = "Create new project";
}

<h1>Create a new project</h1>
<h3>@ViewBag.ErrorMessage</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    <partial name="_ProjectInputs"/>
    
    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="CreateProject" class="btn btn-default" />
        </div>
    </div>

</div>
}

