@model DTNL.LL.Website.Models.ProjectDTO

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View</h1>

<p>Customer name: @Model.CustomerName</p>
<p>Project name: @Model.ProjectName</p>
<p>Id: @Model.Id</p>
<p>Is active? @Model.Active</p>
<p>Lamps in the project:</p>
<ol>
    <li></li>
    <li></li>
</ol>