@{
    ViewData["Title"] = "Project";
}

<h1>Index of project</h1>

<a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Create">Create a new project</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Search">Search and edit a project</a>